<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fieldlengthvalidation>
            <general>
                <enable>0</enable>
            </general>
        </fieldlengthvalidation>
        <fieldlengths>
            <street>255</street>
        </fieldlengths>
    </default>
</config>