<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ECInternet_FieldLengthValidation::fieldlengthvalidation"
             title="Field Length Validation"
             module="ECInternet_FieldLengthValidation"
             sortOrder="51"
             resource="ECInternet_FieldLengthValidation::fieldlengthvalidation"
        />
    </menu>
</config>
