<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecinternet" translate="label" sortOrder="10">
            <label>ECInternet</label>
        </tab>
        <section id="fieldlengthvalidation" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Field Length Validation</label>
            <tab>ecinternet</tab>
            <resource>ECInternet_FieldLengthValidation::fieldlengthvalidation</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="fieldlengths" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Field Lengths</label>
                <field id="street" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Street Address (each line)</label>
                    <depends>
                        <field id="fieldlengthvalidation/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>